@font-face {
   font-family: 'KGLETHERGOSOLID';
   src: url('KGLETHERGOSOLID/font.ttf');
}
@font-face {
   font-family: 'AdobeGurmukhi-Regular';
   src: url('AdobeGurmukhi-Regular/font.ttf');
}
@font-face {
   font-family: 'KGLETHERGO';
   src: url('KGLETHERGO/font.ttf');
}
